.pie {
  background: #111;
  color: white;
  padding: 2rem 1rem;
  width: 100%;
}
.pie-contenido {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pie-izquierda {
  flex: 1;
  min-width: 250px;
  margin-left: 30px;
}
.pie-derecha {
  flex: 1;
  min-width: 250px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

@media (max-width: 600px) {
  .pie-contenido { flex-direction: column; }
}
