
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.encabezado {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

.encabezado-contenido {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 0 2rem;
  z-index: 1000;
}

.logo img {
  width: 110px;
  height: auto;
}

.menu ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  align-items: center;
}

.menu li {
  display: flex;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.menu li:last-child {
  display: flex;
  align-items: center;
}
.menu li:last-child button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 0;
  padding: 0.6rem 1.2rem;
  height: auto;

}

.menu li:last-child button:hover {
  background-color: #333;
}
