*{
  font-family: Arial, Helvetica, sans-serif;
}

.encabezado {
  background: #fff;
  border-bottom: 1px solid #ddd;
  margin-top: 20px;
  width: 100%;
  margin: auto;
  left: 50%;
}

.encabezado-contenido {
  position: fixed;
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  *{
    height: auto;
    align-items: center;
  }
}

.logo img{
  width: 110px;
}
.menu ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}
.menu a {
  text-decoration: none;
  color: #333;
}

button{
  padding: 0.8rem 1.5rem;
  background-color: black;
  color: white;
  border-radius: 6px;
  /* font-weight: 500; */
  margin: 0;
}
button a{
  text-decoration: none;
  color: white;
}
button:hover{
  background-color: #333;
}