/* Sección principal */
.section-login {
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  background-color: #fff;
}

/* Contenedor principal */
.login-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  color: #1a1a1a;
  font-family: "Segoe UI", sans-serif;
  padding: 2rem;
  box-sizing: border-box;
}

/* Bloque del formulario */
.login-container-form {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.login-container-form h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: #111;
}

label {
  display: block;
  font-weight: 400;
  text-align: left;
  margin-bottom: 0.5rem;
}

input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #1a1a1a;
  margin-bottom: 1rem;
}

button {
  width: 100%;
  padding: 0.75rem;
  background-color: #111;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #333;
}

/* Enlace de registro */
p a {
  color: #333333;
  text-decoration: underline;
  margin-left: 0.5rem;
}

/* Bloque de la imagen */
.login-container-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.login-container-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Media queries para móviles */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    padding: 1rem;
  }

  .login-container-form,
  .login-container-image {
    padding: 1rem;
  }

  .login-container-form h2 {
    font-size: 1.5rem;
  }
}
