.section-registro {
  /* height: 100vh; */
  display: flex;
  align-items: center;
  background-color: #fff;
}

/* Contenedor principal */

.registro-container {
  margin: 0px auto ;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  color: #1a1a1a;
  font-family: "Segoe UI", sans-serif;
}

/* Texto y formulario */
.registro-container-texto {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.registro-container-texto h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: #111;
}


label {
  display: block;
  font-weight: 400;
  text-align: left;
}

input,
select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #1a1a1a;
}

button {
  width: 100%;
  padding: 0.75rem;
  background-color: #111;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #333;
}

/* Enlace de login */
p a {
  color: #333333;
  text-decoration: underline;
  margin-left: 0.5rem;
}

/* Imagen */
.registro-container-foto {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.registro-container-foto img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Media queries */
@media (max-width: 768px) {
  .registro-container {
    flex-direction: column;
    padding: 1rem;
  }

  .registro-container-texto,
  .registro-container-foto {
    padding: 1rem;
  }

  .registro-container-texto h2 {
    font-size: 1.5rem;
  }
}
